<article>
    <section>
        <div class="section-body">
            <div class="top-badge">
                <div class="top-badge-container">
                    <div class="d-flex mb-3">
                            <div class="p-2 "><h1>Section Head</h1></div>
                        
                            <div class="ml-auto p-2 ">
                                <nav aria-label="breadcrumb" >
                                    <ol class="breadcrumb crumb" >
                                      <li class="breadcrumb-item"><a href="#">Home</a></li>
                                      <li class="breadcrumb-item"><a href="#">Library</a></li>
                                      <li class="breadcrumb-item active" aria-current="page">Data</li>
                                    </ol>
                                  </nav></div>
                          </div><div></div>
                        </div>

            </div>
            <div class="football-fixtures">
                    <div class="fixtures">
                        <div class="d-flex align-items-start flex-column" >
                            <div class="mb-auto p-2 fixture-menu">
                                    <ul class="d-flex bd-highlight">
                                            <li class="p-2 flex-fill">TABLE</li>
                                            <li class="p-2 flex-fill">FIXTURES</li>
                                            <li class="p-2 flex-fill">TEAMS</li>
                                    </ul>
                            </div>
                            <div class="team-table">
                                <table class="table table-borderless ">
                                    <thead>
                                      <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">First</th>
                                        <th scope="col">Last</th>
                                        <th scope="col">Handle</th>
                                        <th scope="col">fourth</th>
                                        <th scope="col">fifth</th>
                                        <th scope="col">sixth</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <th scope="row mb-1">1</th>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                        <td>Mark</td>
                                        <td>Otto</td>
                                        <td>@mdo</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                      </tr>
                                      <tr>
                                        <th scope="row">3</th>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                        <td>Larry</td>
                                        <td>the Bird</td>
                                        <td>@twitter</td>
                                      </tr>
                                      
                                      
                                    </tbody>
                                  </table></div>
                            <div  class="">
                                <div class="btn-group ">
                                        <button class="footer-btn"><i class="fas fa-angle-left"></i> Prev    </button>
                                        <button class="footer-btn">Next   <i class="fas fa-angle-right"></i></button>
                                </div>
                            </div>
                          </div>
                    </div>
                    
                
            </div>
        </div>
    </section>
</article>

