@import "../../styles.scss";

.section-body{
    height: auto;
    width: 100%;
    .top-badge{
        //position: absolute;
        width: 100%;
        height: 132px;
        left: 0px;
        //: 145px;

        background: linear-gradient(359.71deg, #FFFFFF -164.45%, rgba(255, 255, 255, 0) 17.36%), rgba(33, 35, 44, 0.9);
        mix-blend-mode: normal;
        background-size:cover;
        display: flex;
        justify-content: center;
        align-items: center;


        @media screen and(max-width:450px){
            top: 200px;
            height: 5rem;

        }
        //min-width: 100%;

        .top-badge-container{
            @media screen and(max-width:450px){
                width: 80%;
                h2{
                font-size: 1rem;
                //margin-top: 1rem;
            } 
            }
            width: 70%;
            color: $white;
            .crumb{
                background: none !important;
                font-size: 0.7rem;
                color: $white !important;
         
                    &:hover{
                        color: $currecy !important;
                        text-decoration: none !important;
                        
                    }
                    a{
                        color:$white !important;
                        &:hover{
                            color:$currecy !important;
                            text-decoration: none;
                        }
                    
                }
            }

            @media screen and(max-width:$small){
                h2{
                font-size: 1rem;
                margin-top: 1rem;
            } 
            }
           

        }
        
    }
    .football-fixtures{
    
        display: flex;
        justify-content: center;
        width: 100%;
        .fixtures{
            width: 70%;
            //margin: 1rem;
            @media screen and(max-width:$small){
                width: 100%;
                //margin: 0.5rem;
            }
            
            .fixture-menu{
                margin-top: 2%;

              
                ul{
                    height: 1rem;
                    display: flex;
                    margin: 0;
                    padding: 0;
                    border: none;
                  
                    li{
                     
                        list-style: none;
                        height: auto !important;
                        width: auto;
                        font-weight: bolder;
                        border-right:1px solid $border-line;
                       
                        &:nth-last-child(1){
                            border:none;
                        } 
              
                     
                      a {
                           color: $logo-text;
                           padding: 0;
                           padding: 0 1.2rem !important;
                           border:none !important;
                           &:hover{
                            color: $white;
                            //border:none;
                            background: #688090;
                            border-bottom:1px solid $currecy;
                            border-radius: 0;
                     

                            
                            }

                        }

                    }
                }

            }
            .team-table{
                width: 100%;
              
                @media screen and(max-width:$small){
                    width: 100%;
                    margin: 0.5rem;
                    overflow-x: scroll;
                }
                
              
            }

            .btn-group{
                width:53rem;
                height: 100px;
                margin-top: 50px;
                display: flex;
                justify-items: end;
                
                .footer-btn{
                    width: 94px;
                    height: 42px;
                    margin: 10px 0px 10px 10px;
                    font-weight: bold;
                    font-size: 14px;       
                    background:$currecy;
                    border: 1px solid #E8C75E;
                    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
                    border-radius: 2px;
                   
                }
                  @media screen and(max-width:$small){
                width: 50%;
                margin: 0.5rem;
            }
            }
            
  
        }
    }
}