@import "../../styles.scss";



.football-header{
    // position: relative;;
    width: 100%;
    height: 25px;
    top: 0px;
    left: 0px;
    background:$bkg;
    display: flex;
    justify-content: center;
    @media screen and(max-width: $responsive){
     
        height: auto;
        width: 100%;
        font-size: 0.3rem;
    }
  

    .top-header{
        width:70%;
        padding: 0px;
        @media screen and(max-width:$responsive){
            width: 100%;
            .top-menulist{
              display: grid;
              grid-template-columns: 1fr;
              grid-template-rows: auto auto;
              div{
                div{
                  ul{
                      font-size: 10px;
                      font-style: normal;
                      font-weight: normal;
                      padding: 5px;
                     
                   
                              
                      li{
                          display: inline;
                          margin-right: 10px;
                          color: $txt-color ;
                          &:nth-last-child(-n+2){
                              border-left: 1px solid  $txt-color;
                              padding-left: 10px;
                          }
                          &:hover{
                              color:$white;
                          }
                          .currency{
                              color:$currecy;
                          }
                         
                      }
                  } 
                }
            }
            }
        }
        
                    
          div{
              div{
                ul{
                    font-size: 10px;
                    font-style: normal;
                    font-weight: normal;
                    padding: 5px;
                   
                 
                            
                    li{
                        display: inline;
                        margin-right: 10px;
                        color: $txt-color ;
                        &:nth-last-child(-n+2){
                            border-left: 1px solid  $txt-color;
                            padding-left: 10px;
                        }
                        &:hover{
                            color:$white;
                        }
                        .currency{
                            color:$currecy;
                        }
                       
                    }
                } 
              }
          }          


    

    }
   

    
}
.football-nav{
    width: 100%;
    max-width:100%;
    height: 82px;
    border-bottom:1px solid $border-line;
    display: flex;
    justify-content: center;
   
    

    .logo-container{
    //position: absolute;
    width: 70%;
   #menuToggle{
   
    input{
      display: none;
    }
    #menuItem {
      display: block !important;
    
      li{
        display: inline-block !important;
        list-style-type: none;
        padding: 15px 7px;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 18px;
        margin-top: 3%;
        a{
          color: $bkg;
        }
      }
    }
   }
    @media screen and(max-width:$responsive){
        

     
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns:  2fr 1fr;
  
          nav{
            margin-top:-50px;
          #menuToggle {
            display: block !important;
            position: relative !important;
            top: 65px !important;
            right: 35px !important;
            z-index: 1 !important;
            -webkit-user-select: none !important;
            user-select: none !important;
            opacity: 0.97;
          
            a {
              text-decoration: none;
              color: #232323;
              transition: color 0.3s ease;
          
              &:hover {
                color: tomato;
              }
            }
          
            input {
              display: block;
              width: 40px;
              height: 32px;
              position: absolute;
              top: -7px;
              left: -5px;
              cursor: pointer;
              opacity: 0;
          
              /* hide this */
              z-index: 2;
          
              /* and place it over the hamburger */
          
              -webkit-touch-callout: none;
            }
          
            span {
              display: block;
              width: 33px;
              height: 4px;
              margin-bottom: 5px;
              position: relative;
              background: $bkg;
              border-radius: 3px;
              z-index: 1;
              transform-origin: 4px 0px;
              transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), 
              background-color 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
          
              &:first-child {
                transform-origin: 0% 0%;
              }
          
              &:nth-last-child(2) {
                transform-origin: 0% 100%;
              }
            }
          
            input:checked ~ span {
              opacity: 1;
              transform: rotate(45deg) translate(-2px, -1px);
              background: #232323;
          
              &:nth-last-child(3) {
                opacity: 0;
                transform: rotate(0deg) scale(0.2, 0.2);
              }
          
              &:nth-last-child(2) {
                transform: rotate(-45deg) translate(0, -1px);
              }
            }
          }
        }
          
          /*
           * Just a quick hamburger
           */
          
          /* 
           * Transform all the slices of hamburger
           * into a crossmark.
           */
          
          /*
           * But let's hide the middle one.
           */
          
          /*
           * Ohyeah and the last one should go the other direction
           */
          
          /*
           * Make this absolute positioned
           * at the top left of the screen
           */
          
          #menuItem {
            position: absolute;
            width: 250px;
            margin: -53px -50px 0  0 ;
            padding: 50px;
            padding-top: 35px;
            background: #eee;
            list-style-type: none;
            -webkit-font-smoothing: antialiased;
          
           
            /* to stop flickering of text in safari */
          
            transform-origin: -10% 0%;
            transform: translate(40%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
           

          
            li {
              
              padding: 0 10px ;
              font-size: 15px;
            }
          }
          
          /*
           * And let's slide it in from the left
           */
          
          #menuToggle input:checked ~ ul {
            transform:translate(-60%, 0);
           
          }
    }
    

    .logo{
            
        img{
            // width:50%;
            position: relative;
            top: 10px;
            left:10px;
            @media screen and(max-width:$responsive){
                width:70%;
                align-self: flex-start;
               float: left;
             }
        }
        
    }
   

}
        
}
.dropdown-header{
   
    width: 100%;
    height: 38px;
    left: 0px;
    background: $white;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
    padding: 0px;
    color: $bkg;
    display: flex;
    justify-content: center;

    .menu-container{
      display: grid;
      grid-template-columns: 3fr 1fr;
      width: 70%;
    .menu-list{
      width: auto;
      overflow-y: hidden;
      overflow-x: auto;

         
      &::-webkit-scrollbar {
        width: 1px !important;
        height: 0;
      }
    
      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
      }
    
      &::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
      }
      
    .header-list{
    
        width: 70%;
        max-width: 100%;
        height: 38px;
        padding-left: 10px !important;
       
        li{
            
            //width: 100%;
            list-style: none;
            display: inline-block;
            padding: 1.5% 2%;
            border-left:1px solid $border-line;
            font-weight: 600;
            font-size: 11.5px;
            color: $bkg;
            text-decoration: none;
            transition-duration: 0.5s;
         a {
              color: $bkg;
              text-decoration: none;
              &:hover {
                //   background: red;
                  cursor: pointer;
                  
              }
            }
            
         
    

           ul{
            width: 70%;
         
               li{
              
                   width: auto;
                   padding: 5px;
                   margin: 5px;
                   border: none;
                   &:nth-child(n){
                    border-right:none;
                    width: 24%;
    
                   
                }
                   span{
                display: block;
                margin: 0.5rem 0.4rem;
                font-weight: bold;
                a{
                    &:hover{
                        color:$currecy
                    }
                }
             
            }
                 h6{
                    
                    padding: 1rem 0.1rem;
                    border-bottom: 1px solid $border-line;
                    font-weight: bolder;
                }

                //dropdowm menu
        a {
          text-decoration: none;
        }
        
        nav {
            font-family: monospace;
        }
        
                 
        li a {
          color: $bkg;
        }
        
        li:hover {
          //   background: red;
            cursor: pointer;
            
        }
     
               }

              
           } 

         
        
              
          

            ul{
                //text-align: center;
                //display: block; 
                div{
                      
                       
                     li{
                        font-family: 'Courier New', Courier, monospace; 
                       
                 }
                }
            
            }

        }

   // }
        //end drop-list
    }

    ul li {
      ul {
        background: $white;
        visibility: hidden;
        opacity: 0;
        min-width: 50rem;
        height: 18rem;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 0.89rem;
        left: -5.5rem;
        display: none;
        border-bottom: 2px solid $currecy;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
        padding: 20px;
        margin-left: 21%;
        z-index: 999;
      }
    
      &:hover > ul {
        visibility: visible;
        opacity: 1;
        display: block;
      }
    
      ul {
        &:hover {
          visibility: visible;
          opacity: 1;
          display: block;
        }
    
        li {
          clear: both;
          width: 100%;
        }
      }
    }
  }
  .search {
    padding: 6px;
    border-right:1px solid $border-line;
    margin-left: 20px;
      
  input {
    border: none;
    color: white;
    font-size: 14px;
    width:100%;
    max-width: 100%;
    padding-left: 10px;

  }
  .fa-search {
    position: relative;
    right: 8%;
    top: 2%;
  }

  @media screen and (max-width: $responsive){
    margin-left: 5px;     
  input {
    border: none;
    color: white;
    font-size: 0.8rem;
    width:100%;
    max-width: 100%;
    padding-left: 1px;

  }
    .fa-search {
      position: relative;
      right: 20%;
      top: 2%;
    }
  }
  }

}

        
              @media screen and(max-width:$responsive){
                .menu-container{
                  width: 100%;
                  .menu-list{
                    overflow-y: hidden;
                    overflow-x: auto;
                  
    
                .header-list{
                      width: 100%;
                      position: relative;
                      font-size: 1rem;
                      
                      // @media screen and(max-width:$responsive){
                        li{
                          padding: 3% 2%;
                          font-size: 0.7rem;

                        
                          
                      
                        }
                      // }
                
                  }
        }
        }
    }

  
}
