<div class="football-nav">
    <div class="d-flex d-sm-flex d-md-flex d-lg-flex flex-row logo-container">
        <div class="flex-fill logo"><img src="../../../assets/images/football_logo.svg" class="img-fluid"></div>
        <div class="flex-fill">

            <ul>
                <li>HOME</li>
                <li>NEWS</li>
                <li>RESULTS</li>
                <li>TABLES</li>
                <li>TIPS</li>
                <li>FEATURES</li>
                <li>ABOUT</li>
            </ul>

        </div>

    </div>
</div>
