/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap.scss";




$bkg:#25252F;
$txt-color:#808084;
$currecy: #FDC624;
$logo-text:#23262B;
$border-line: #E5E5E5;
$footer_bkg1:#292933;
$white: #fff;
$btn_border:#E8C75E;
$footer-menu:#D1D1D3;

//media query values

$smallest: 400px;
$small: 480px;
$handheld:720px;
$laptop: 1024px;
$larger-screen: 1200px;

// html{
//     padding: 0px;
//     margin: 0px!important;
// }



