<footer>
    <div class="footer-container ">
        <div class="footer-more">
            <div class="footer-more-text ">
                <div class="footer-winning-text ">Never miss the action from your winning team</div>
                <div><button class="footer-btn">EXPLORE MORE <i class="fas fa-angle-right"></i></button></div>
            </div>
            <div class="footer-menu-container ">
                <div class="footer-menu-left">
                    <div class="menu-left-text ">
                        <ul>
                            ABOUT US
                            <li>Latest New</li>
                            <li>Players Room</li>
                            <li>Media Gallery</li>
                            <li>Feedback</li>
                            <li>Contact Us</li>

                        </ul>
                        <ul>
                            INFORMATION
                            <li>Olympics</li>
                            <li>FIFA 2019</li>
                            <li>NFL 2019</li>
                            <li>NBA 2019</li>
                            <li>Boxing</li>

                        </ul>
                        <ul>
                            SUPPORT
                            <li>Terms and Conditions</li>
                            <li>Privacy Policy</li>
                            <li>Sitemap</li>
                            <li>FAQ </li>
                            <li>Account</li>

                        </ul>
                        <ul>
                            SUPPORT
                            <li>Terms and Conditions</li>
                            <li>Privacy Policy</li>
                            <li>Sitemap</li>
                            <li>FAQ </li>
                            <li>Account</li>

                        </ul>
                    </div>
                    <div class="menu-left-bottom d-flex d-sm-flex d-md-flex d-lg-flex">
                        <p>All rights Reserved 2019</p>
                    </div>
                </div>
                <div class="footer-menu-right flex-fill">
                    <div class="footer-logo"><img src="../../assets/images/football_logo.svg" class="img-fluid"></div>
                    <div class="footer-social d-flex align-self-sm-end flex-column flex-sm-column">
                        <ul class="mb-auto p-2">
                            <strong>Follow Us:</strong>
                            <li><span class="fab fa-facebook-f"></span></li>
                            <li><span class="fab fa-twitter"></span></li>
                            <li><span class="fab fa-instagram"></span></li>
                            <li><span class="fab fa-youtube"></span></li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="menu-left-bottom d-flex d-sm-flex d-md-flex d-lg-flex"><p>All rights Reserved 2019</p></div> -->


            </div>
        </div>
    </div>
</footer>