<footer>
    <div class="footer-container d-flex d-sm-flex d-md-flex d-lg-flex flex-column">
        <div class="footer-more">
            <div class="footer-more-text d-flex d-sm-flex d-md-flex d-lg-flex flex-row">
                <div class="footer-winning-text flex-fill">Never miss the action from your winning team</div>
                <div class="flex-fill"><button class="footer-btn">EXPLORE MORE    <i class="fas fa-angle-right"></i></button></div>
            </div>
            <div class="footer-menu-container d-flex d-sm-flex d-md-flex d-lg-flex flex-row">
                <div class="footer-menu-left flex-fill  ">
                    <div class="menu-left-text">
                        <ul>
                                ABOUT US
                            <li>Latest New</li>
                            <li>Players Room</li>
                            <li>Media Gallery</li>
                            <li>Feedback</li>
                            <li>Contact Us</li>
                            
                        </ul>
                        <ul>
                                INFORMATION
                            <li>Olympics</li>
                            <li>FIFA 2019</li>
                            <li>NFL 2019</li>
                            <li>NBA 2019</li>
                            <li>Boxing</li>
                            
                        </ul>
                        <ul>
                                SUPPORT
                            <li>Terms and Conditions</li>
                            <li>Privacy Policy</li>
                            <li>Sitemap</li>
                            <li>FAQ </li>
                            <li>Account</li>
                            
                        </ul>
                        <ul>
                                SUPPORT
                                <li>Terms and Conditions</li>
                                <li>Privacy Policy</li>
                                <li>Sitemap</li>
                                <li>FAQ </li>
                                <li>Account</li>
                            
                        </ul>
                    </div>
                    <div class="menu-left-bottom"><p>All rights Reserved 2019</p></div>
                </div>
                <div class="footer-menu-right flex-fill ">
                    <div class="footer-logo"><img src="../../assets/images/football_logo.svg" class="img-fluid"></div>
                    <div class="footer-social align-content-end">
                        <ul>
                            <strong>Follow Us:</strong> 
                                <li><span class="fab fa-facebook-f"></span></li>
                                <li><span class="fab fa-twitter"></span></li>
                                <li><span class="fab fa-instagram"></span></li>
                                <li><span class="fab fa-youtube"></span></li>
                        </ul>
                    </div>
                </div>


            </div>
        </div>
    </div>
</footer>
